body {
    background-image: url(../ocean-waves.jpg);
    
}

p {
    color: black;
    font-size: 14px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100% !important;
    height: 75vh;
}

.carousel-caption {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
    opacity: 50%;
}

