body {
    background-color: black;
}

.container {
    box-shadow: 1px 15px 24px 7px aliceblue;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100% !important;
    height: 75vh;
}